/*******************
      GENERAL
******************/
body {
    background-color: #1d1d1d;
    margin-left: 0;
    margin-right: 0;
}

h2 {
    font-family: ff-cocon-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #F18918;
}

p {
    font-family: 'Arial Nova', sans-serif;
}

.pfpicture {
    border-radius: 50%;
    margin: 5% 0;
}

/*NAVIGATION*/
nav {
    font-family: ff-cocon-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.active {
    color: #F18918;
}

nav li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: white;
}

/*******************
     HOMEPAGE
******************/
/*HEADER*/
.headerHome {
    display: flex;
    justify-content: space-between;
}

.headerHome img {
    height: 12vh;
}

/*NAVIGATION*/
.barNav {
    background-color: #C2C2C2;
}

.barNav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.barNav li {
    font-size: 1.75em;
    padding: 1% 0;
}

.barNav a {
    color: #3A3A3A;
}

/*MAIN*/
.mainHome {
    margin-top: 10%;
    text-align: center;
}

.mainHome p {
    margin: 2.5% 30%;
    color: white;
}

/*******************
    GEN & POSTS
******************/
/*HEADER*/
.sidePage header {
    display: flex;
    justify-content: space-between;
}

.sidePage header img {
    height: 12.5vh;
    /*margin: 2% 1% 0 10%;*/
}

.sidePage header nav {
    margin-top: 10%
}

.navPage {
    display: flex;
}

.navPage li {
    margin: 0 15%;
    font-size: 1.5em;
}

/*******************
     GENERATOR
******************/
/*MAIN*/
#genBtn {
    margin-top: 12.5%;
    text-align: center;
}

#colour {
    text-align: center;
    margin-top: 10%;

}

#photo {
    text-align: center;
    margin-top: 2.5%;
}

.mainGen button {
    background-color: white;
    margin: 5% 2% 0;
    padding: 1% 5%;
    border: none;
    border-radius: 25px;
}

/*******************
      POSTS
******************/
.mainPosts {
    text-align: center;
}

.mainPosts h2 {
    margin-top: 2.5%;
    margin-bottom: 0;
}

#postsBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.singlePost {
    width: 25%;
    margin: 2% 0;
}

.singlePost img {
    padding-top: 15%;
    width: 80%;
}

.singlePost .colourPost {
    padding: 0;
    width: 40%;
}

/*Focus post*/
#postFocus {
    display: none;

    background-color: #C2C2C2;
    width: 90%;
    height: 70vh;

    position: fixed;
    top: 20%;
    left: 5%;

    border-radius: 25px;
    box-shadow: 0px 0px 25px #000000
}

#postFocus .singlePost {
    display: flex;
    flex-direction: row;
    margin: 7.5vh 2.5%;
    width: 100%;
}

.imgPhoto {
    width: 50%;
}

.imgPhoto img {
    padding-top: 0vh;
    width: 80%;
}

.colours {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
}

.imgColours img {
    padding-top: 0vh;
    width: 44%;
}

.leftColours {
    margin-left: 10%
}

.postInfo {
    margin-top: 12.5vh;
    margin-left: 5%;

    text-align: left;
}

.postInfo button {
    font-size: 1.25em;
    border: none;
    border-radius: 25px;
    padding: 3px 25px;
    margin-top: 30%;

}

#true {
    visibility: hidden;
    position: relative;
}

#true::after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;

    background-color: #F18918;
    border: none;
    border-radius: 25px;
    padding: 3px 15px;

    content: "Liked";
}

#back {
    position: absolute;
    top: 5%;
    left: 4%;

    font-size: 1.25em;

    border: none;
    border-radius: 25px;
    padding: 3px 15px;
}

/*******************
      PROFILE
******************/
/*HEADER*/
.navProfile {
    display: flex;
}

.navProfile img {
    height: 12.5vh;
    /*margin: 2% 1% 0 10%;*/
}

.navProfile nav ul {
    display: flex;
    margin-top: 22%;
}

.navProfile nav ul li {
    margin: 0 15%;
    font-size: 1.5em;
}

/*MAIN BANNER*/
.banner {
    background-color: #F18918;
    display: flex;
    flex-direction: row;
    margin-top: 2.5%;
    padding: 1% 15%;
}

.banner img {
    height: 17.5vh;
    margin-right: 2%;
}

.banner h2 {
    color: black;
}

.info {
    display: flex;
    width: 150%
}

.info p {
    margin: 0;
    padding-right: 5%;
}

/*MAIN NAVIGATION*/
#mainNav {
    margin-left: 15%;
    margin-top: 2%;
}

#mainNav button {
    background-color: #1d1d1d;
    color: #C2C2C2;
    border: none;
    margin-right: 5%;
    font-size: 1.05em;
}

#mainNav button:focus {
    color: white;
    border-bottom: solid 1px #F18918;
}

/*MAIN SELECTIONS*/
/*GENERAL*/
.selectBlock {
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 2.5%;
    margin-left: 5%;
}

.selectPost {
    width: 20.5%;
    margin: 2% 1.5%;
    overflow: hidden;
}

.selectPost img {
    height: 30vh;
}

.selectPost .colourSelect {
    height: 15vh;
}

/*SPECIFIC*/
#saved {
    display: none;
}

#art {
    display: none;
}

#posts {
    display: none;
}

#liked {
    display: none;
}